In [99]:
import pandas as pd
import numpy as np
import os
from datetime import datetime

# orders=pd.read_excel(r'C:\Users\Lenovo\Desktop\modaam\excel core/Orders0323to0325_allstations.xlsx')
# logs=pd.read_excel(r'C:\Users\Lenovo\Desktop\modaam\excel core/Logs0323to0325_allstations.xlsx')
# users=pd.read_excel(r'C:\Users\Lenovo\Desktop\modaam\excel core/Users0323to0325_allstations.xlsx')

In [101]:
### at least once a month

file_path = r'C:\Users\Lenovo\Desktop\modaam\excel core/orders_pezeshki_noerror.csv' 
df = pd.read_csv(file_path)
                 #, parse_dates=['pay_at'], date_parser=lambda x: pd.to_datetime(x, format='%m/%d/%Y %I:%M:%S %p'))


# Assuming df is your DataFrame containing the data
# Convert 'pay_at' to datetime if it's not already in datetime format
df['pay_at'] = pd.to_datetime(df['pay_at'])

# Extract month and year for grouping
df['month_year'] = df['pay_at'].dt.to_period('M')

# Group by 'card_number' and 'month_year', count the occurrences
customer_frequency = df.groupby(['card_number', 'month_year']).size().reset_index(name='frequency')

# Filter customers who bought at least once a month
monthly_customers = customer_frequency.groupby('card_number').filter(lambda x: len(x) >= 1)['card_number'].unique()

filtered_df = df[df['card_number'].isin(monthly_customers)]
filtered_df

array(['02MOD0001', '502229**0215', '502229**0700', ..., 'MC00068',
       'MOD001', 'MOD002'], dtype=object)

In [106]:
### twice or more in month
file_path = r'C:\Users\Lenovo\Desktop\modaam\excel core/orders_pezeshki_noerror.csv' 
df = pd.read_csv(file_path)

# Assuming your data is stored in a DataFrame named df
# Convert 'pay_at' column to datetime if it's not already in datetime format
df['pay_at'] = pd.to_datetime(df['pay_at'])

# Group by 'card_number' and extract the month-year from 'pay_at' to count purchases per month per customer
df['month_year'] = df['pay_at'].dt.to_period('M')  # Extract month and year

# Count the number of purchases (transactions) per customer per month
customer_purchase_counts = df.groupby(['card_number', 'month_year']).size().reset_index(name='purchase_count')

# Filter customers who have purchased at least twice a month (or more)
frequent_buyers = customer_purchase_counts[customer_purchase_counts['purchase_count'] >= 2]

# Get the list of customers who meet the criteria
frequent_buyers_list = frequent_buyers['card_number'].unique()
filtered_df = df[df['card_number'].isin(frequent_buyers_list)]
filtered_df

,id,station_id,user_id,price_total,price_buy,serial,payment_getway_id,pay_at,trace_number,created_at,...,price_gross,price_commission,price_net,card_number,is_calculated,is_error,is_credit,is_bank_job,score,month_year
0,94746,62,6323,3400,12698,BUN/62/231221104745,1,2023-12-21 10:47:44,13827,2023-12-21 10:47:45.000000,...,3094,0,3094,MOD002,1,0,1,0,0,2023-12
1,94749,62,6323,3700,13667,BUN/62/231221105313,1,2023-12-21 10:53:12,13828,2023-12-21 10:53:13.000000,...,3367,0,3367,MOD002,1,0,1,0,0,2023-12
2,94863,62,6323,4000,15426,BUN/62/231221141446,1,2023-12-21 14:14:45,13851,2023-12-21 14:14:46.000000,...,3640,0,3640,MOD002,1,0,1,0,0,2023-12
3,94872,62,6323,3400,12678,BUN/62/231221142243,1,2023-12-21 14:22:43,13854,2023-12-21 14:22:43.000000,...,3094,0,3094,MOD002,1,0,1,0,0,2023-12
4,94876,62,6323,3400,12768,BUN/62/231221142915,1,2023-12-21 14:29:15,13856,2023-12-21 14:29:15.000000,...,3094,0,3094,MOD002,1,0,1,0,0,2023-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4185,339732,62,7929,36000,17511,MOD-62-240622065801,1,2024-06-22 06:58:01,939188,2024-06-22 06:58:01.000000,...,32400,0,32400,606373**4208,1,0,0,0,0,2024-06
4189,340143,62,0,36000,20328,MOD-62-240622094723,1,2024-06-22 09:47:24,977708,2024-06-22 09:47:23.000000,...,32400,0,32400,627381**6521,1,0,0,0,0,2024-06
4190,340193,62,0,36000,20692,MOD-62-240622095824,1,2024-06-22 09:58:25,86927,2024-06-22 09:58:24.000000,...,32400,0,32400,589210**3066,1,0,0,0,0,2024-06
4192,340412,62,7719,32000,14231,MOD-62-240622104334,1,2024-06-22 10:43:35,575025,2024-06-22 10:43:34.000000,...,28800,0,28800,621986**8808,1,0,0,0,0,2024-06
4193,340717,62,0,35000,18309,MOD-62-240622115152,1,2024-06-22 11:51:53,400849,2024-06-22 11:51:52.000000,...,31500,0,31500,502229**2881,1,0,0,0,0,2024-06

In [108]:
file_path = r'C:\Users\Lenovo\Desktop\modaam\excel core/orders_pezeshki_noerror.csv' 
df = pd.read_csv(file_path)
                 #, parse_dates=['pay_at'], date_parser=lambda x: pd.to_datetime(x, format='%m/%d/%Y %I:%M:%S %p'))

# Assuming your dataframe is named df
# Convert 'pay_at' column to datetime
df['pay_at'] = pd.to_datetime(df['pay_at'])

# Extract month and year into separate columns
df['month'] = df['pay_at'].dt.month
df['year'] = df['pay_at'].dt.year

# Group by 'card_number', 'month', and 'year', count transactions
user_monthly_counts = df.groupby(['card_number', 'month', 'year']).size().reset_index(name='buying_frequency')

# Drop the month and year columns if you don't need them anymore
df.drop(['month', 'year'], axis=1, inplace=True)

# Merge back to the original dataframe
df = pd.merge(df, user_monthly_counts, on='card_number', how='left')

df

,id,station_id,user_id,price_total,price_buy,serial,payment_getway_id,pay_at,trace_number,created_at,...,price_net,card_number,is_calculated,is_error,is_credit,is_bank_job,score,month,year,buying_frequency
0,94746,62,6323,3400,12698,BUN/62/231221104745,1,2023-12-21 10:47:44,13827,2023-12-21 10:47:45.000000,...,3094,MOD002,1,0,1,0,0,1,2024,1
1,94746,62,6323,3400,12698,BUN/62/231221104745,1,2023-12-21 10:47:44,13827,2023-12-21 10:47:45.000000,...,3094,MOD002,1,0,1,0,0,12,2023,10
2,94749,62,6323,3700,13667,BUN/62/231221105313,1,2023-12-21 10:53:12,13828,2023-12-21 10:53:13.000000,...,3367,MOD002,1,0,1,0,0,1,2024,1
3,94749,62,6323,3700,13667,BUN/62/231221105313,1,2023-12-21 10:53:12,13828,2023-12-21 10:53:13.000000,...,3367,MOD002,1,0,1,0,0,12,2023,10
4,94863,62,6323,4000,15426,BUN/62/231221141446,1,2023-12-21 14:14:45,13851,2023-12-21 14:14:46.000000,...,3640,MOD002,1,0,1,0,0,1,2024,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14033,340412,62,7719,32000,14231,MOD-62-240622104334,1,2024-06-22 10:43:35,575025,2024-06-22 10:43:34.000000,...,28800,621986**8808,1,0,0,0,0,2,2024,3
14034,340412,62,7719,32000,14231,MOD-62-240622104334,1,2024-06-22 10:43:35,575025,2024-06-22 10:43:34.000000,...,28800,621986**8808,1,0,0,0,0,6,2024,1
14035,340412,62,7719,32000,14231,MOD-62-240622104334,1,2024-06-22 10:43:35,575025,2024-06-22 10:43:34.000000,...,28800,621986**8808,1,0,0,0,0,12,2023,1
14036,340717,62,0,35000,18309,MOD-62-240622115152,1,2024-06-22 11:51:53,400849,2024-06-22 11:51:52.000000,...,31500,502229**2881,1,0,0,0,0,5,2024,1
14037,340717,62,0,35000,18309,MOD-62-240622115152,1,2024-06-22 11:51:53,400849,2024-06-22 11:51:52.000000,...,31500,502229**2881,1,0,0,0,0,6,2024,2